:root{
    --color-light:#eceef1;
    --color-dark:#0060f1;
}
*{
    font-family: 'Playfair Display', serif;
}
.bg-main-light{
    background-color: var(--color-light);
}
.bg-main-dark{
    background-color: var(--color-dark);
}
.main-light{
    color: var(--color-light);
}
.main-dark{
    color: var(--color-dark);
}
main{
    min-height: 100vh;
}
section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 30vh;
    width: 100vw !important;
}
.row.make-columns {
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em; 
}
.row.make-columns > div {
    display: inline-block;
    padding:  .5rem;
}
#welcome-page img{
    min-height: 300px;
}
.navbar-brand-text{
    margin: .75rem;
    font-size: .5rem;
}
.story-img{
    min-width: 190px;
}
.logo::after{
    content: "Computational Intelligence for the Atmosphere 智在太空研究室";
    position: absolute;
    bottom: 1.75rem;
    left: calc(50% - 210px);
}
.img-items img{
    min-width: 190px;
    max-height: 230px;
}